html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#map_canvas {
	width:100%;
	height:85%;
}

#button_canvas {
	width: 100%;
	height: 15%;
	margin: 0;
	padding: 0;
	border-top: 2px solid black;
	vertical-align:middle;
	background:#C2FEC0;
}

.sign {
	padding: 3px;
	border-bottom: 1px solid black;
}

.sign_active {
	color:#806BFB;
	background:#C5EFF9;
}