<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWEtfm6B9jVhnR3wOefB80ODwxPOGQUTQ&sensor=true"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/static/parksafe.js"></script>
</head>

<body>

	<div id="button_canvas">
        <input id="address"><button id="do_search">Search</button>
		<br>
		<input type="checkbox" id="filter_time" value="True">Filter signs
		<button id="close">Close</button>
		<button id="search">Refresh</button>
	</div>
	
	<div id="map_canvas"></div>
	
	<div id="text_canvas"></div>

</body>

</html>